@font-face
{
  font-family: Ubuntu-R;
  src: url(ubuntu-r.ttf);
}
@font-face
{
  font-family: Ubuntu-B;
  src: url(ubuntu-b.ttf);
}
@keyframes sky
{
  0% { background-position: 50% 0%; }
  50% { background-position: 50% 50%; }
  100% { background-position: 50% 100%; }
}
@keyframes headercolors
{
  /*0% { background-color: #000005; }
  20% { background-color: #000020; }
  40% { background-color: #000060; }
  60% { background-color: #66383A; }
  80% { background-color: #331C9D; }
  100% { background-color: #0000FF; }*/
  0% { background-position: 50% 0%; }
  50% { background-position: 50% 50%; }
  100% { background-position: 50% 100%; }
}
body
{
  /*background-color: 222222;*/
  /*background-image: linear-gradient(to bottom, black, #000020, #000060);*/
  background-color: 000040;
  color: FFFFFF;
  height: 97%;
  /*background-image: linear-gradient(to bottom, #000005, #000020, #000060, #66383A, #331C9D, #0000FF);
  background-size: 100% 500%;
  animation-name: sky;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-direction: alternate;*/
}
input, textarea, select
{
  /*background-color: 757575;*/
  background-color: black;
  color: FFFFFF;
  border: 1px black solid;
}
input
{
  font-family: Ubuntu-B;
}
textarea
{
  font-family: Ubuntu-R;
}
a
{
  color: FFFFFF;
  text-decoration: none;
}
/* a:hover
{
  color: 999999;
  text-decoration: underline;
}*/colgroup
.contentlink
{
  text-decoration: underline !important;
}
#content1:hover, #content2:hover
{
  background-color: 000063;
}
#header, #container, #manage, #footer
{
  /*background-color: 303030;*/
  border: 1px black solid;
  width: 100%;
}
#edit
{
  /*background-color: 353535;*/
  background-color: 000020;
  border-bottom: 1px black solid;
  width: 100%;
  display: none;
}
#header
{
  text-align: center;
  font-family: Ubuntu-B;
  background-color: #000020;
  color: white;
  background-image: linear-gradient(to bottom right, #000005, #000020, #000060, #66383A, #331C9D, #0000FF);
  background-size: 300% 700%;
  animation-name: headercolors;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-direction: alternate;
}
#breadcrumb
{
  border: 1px black solid;
  width: 100%;
  background-color: black;
  font-family: Ubuntu-R;
}
#container
{
  height: 80%;
  font-family: Ubuntu-R;
  border-bottom: 0px;
  background-image: linear-gradient(to bottom, #000020, #000060, #66383A);
  overflow: auto;
}
#content1
{
  width: 100%;
  /*background-color: 393939;*/
  background-color: 000040;
  display: block;
}
#content2
{
  width: 100%;
  /*background-color: 404040;*/
  background-color: 000050;
  display: block;
}
#contentDiv:nth-child(odd)
{
  background-color: 000050;
}
#contentDiv:nth-child(even)
{
  background-color: 000040;
}
#contentDiv:hover
{
  background-color: 000063;
}
#manage
{
  border: 1px black solid;
  border-top: 0px;
  text-align: right;
  width: 25%;
  background-color: #66383A;
}
#footer
{
  font-size: small;
  font-family: Ubuntu-R;
  background-color: #000000;
  overflow: auto;
}
#footer-left
{
  text-align: left;
  width: 50%;
  display: inline-block;
  /*float: left;
  clear: left;*/
}
#footer-right
{
  text-align: right;
  width: 50%;
  display: inline-block;
  /*float: right;
  clear: right;*/
}
#settings1
{
  background-color: 000040;
}
#settings2
{
  background-color: 000050;
}
#settings1:hover, #settings2:hover
{
  background-color: 000063;
}
